body {
  background-color: #f0f0f0;
  background-image: url("../theme/sun.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #333;
}

/* body .picture {
  border-color: #ccc;
  filter: brightness(100%);
} */