/* Стили для контейнера луны */

.moon-container {
  position: relative;
  margin: 50px auto;
}

/* Стили для луны */
.moon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  animation: rotateMoon 60s linear infinite;
}

/* Анимация вращения луны */
@keyframes rotateMoon {
  from {
    transform: translateX(-50%) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

/* Стили для солнца */
.sun-container {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
}

.sun {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  animation: rotateSun 60s linear infinite;
}

/* Анимация вращения солнца */
@keyframes rotateSun {
  from {
    transform: translateX(-50%) rotate(0deg) scale(1.5);
  }

  to {
    transform: translateX(-50%) rotate(360deg) scale(1);
  }
}

.moon-sun-container {
  position: relative;
  width: 400px;
  left: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon-container,
.sun-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media query for smartphones */
@media only screen and (max-width: 768px) {

  .moon,
  .sun {
    width: 150px;
    /* Adjust the size for smaller screens (smartphones) */
    height: 150px;
    /* Adjust the size for smaller screens (smartphones) */
  }

  .moon-container {
    max-width: 350px;
    /* Adjust the maximum width for smaller screens (smartphones) */
  }

  .sun-container {
    max-width: 450px;
    /* Adjust the maximum width for smaller screens (smartphones) */
  }

  .moon-sun-container {
    max-width: 300px;
    /* Adjust the maximum width for smaller screens (smartphones) */
  }
}