.night-theme-btn {
    position: fixed;
    right: 15px;
    top: 15px;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: rgba(66, 165, 198, 0.5);
    transition: filter .4s, background-color .4s;
    cursor: pointer;
}

.night-theme-btn:hover {
    filter: brightness(120%);
}

.night-theme-btn:active {
    filter: brightness(80%);
}

.night-theme-btn__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    opacity: 0;
    transition: opacity .15s;
}

.night-theme-btn__icon circle,
.night-theme-btn__icon path {
    fill: rgba(0, 0, 0, .3);
}

.night-theme-btn__icon_moon {
    opacity: 1;
}

body {
    transition: background-color .4s, color .4s;
}

body.night-theme {
    /* background-color: black; */
    background-image: url('../theme/1_fon.png');
    /* background-size: cover; */
    background-position: center center;
    color: white;
}

.picture {
    transition: border-color .4s, filter .4s;
}

body.night-theme .picture {
    border-color: rgb(232, 232, 232);
    filter: brightness(70%);
}

body.night-theme .night-theme-btn {
    background-color: rgba(223, 211, 80, 0.5)
}

body.night-theme .night-theme-btn__icon_moon {
    opacity: 0;
}

body.night-theme .night-theme-btn__icon_sun {
    opacity: 1;
}