html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

img:hover {
    transform: scale(1.2);
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.container {
    max-width: 1200px;
    padding: 50px 15px;
    margin: 0 auto;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
} 

.picture {
    height: 300px;
    object-fit: cover;
    border: 5px solid gray;
}

  @media (max-width: 480px) {
    body {
        background-color: #1f1d1d;
        color: #0c76ef;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
 body {
        background-color: #1f1d1d;
        color: #0c76ef;
    }
}

@media (min-width: 769px) {
 body {
        background-color: #1f1d1d;
        color: #0c76ef;
    }
}

 @media screen and (max-width: 25em) {
    .images-container {
        flex-direction: column;
        align-items: center;
    }

    .images-container img {
        width: 90%;
        margin: 2%;
    }
} 

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #ff6600;
}

body {
    font-family: Arial, sans-serif;
    /* Change font to Arial or any other font you prefer */
    color: #333;
    /* Change color to the desired text color */
}

p {
    font-size: 16px;
    /* Change font size for the paragraph text */
}

a {
    color: #007bff;
    /* Change color for the link text */
    font-weight: bold;
    /* Add bold style to the link text */
    text-decoration: none;
    /* Remove underline from the link text */
}